@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background: hsla(333, 41%, 44%, 1); */

  background: radial-gradient(
    circle,
    hsla(333, 41%, 44%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bones li {
  position: absolute;
  display: block;
  animation: animate 30s linear infinite;
  bottom: -160px;
}

.bones li:nth-child(1) {
  left: 25%;

  animation-delay: 0s;
}

.bones li:nth-child(2) {
  left: 5%;

  animation-delay: 2s;
  animation-duration: 12s;
}

.bones li:nth-child(3) {
  left: 60%;

  animation-delay: 3s;
}

.bones li:nth-child(4) {
  left: 38%;

  animation-delay: 0s;
  animation-duration: 16s;
}

.bones li:nth-child(5) {
  left: 60%;

  animation-delay: 1s;
}

.bones li:nth-child(6) {
  left: 80%;

  animation-delay: 4s;
}

.bones li:nth-child(7) {
  left: 35%;

  animation-delay: 8s;
}

.bones li:nth-child(8) {
  left: 50%;
  animation-delay: 12s;
  animation-duration: 42s;
}

.bones li:nth-child(9) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bones li:nth-child(10) {
  left: 90%;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
