@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background: hsla(333, 41%, 44%, 1); */

  background: radial-gradient(
    circle,
    hsla(333, 41%, 44%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
